@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #f7f9fb; /* Soft off-white */
  --foreground: #0e1629;

  --card: #ffffff;
  --card-foreground: #0e1629;

  --popover: #ffffff;
  --popover-foreground: #0e1629;

  --primary: #2362ea; /* Soft Blue */
  --primary-foreground: #f7f9fb;

  --secondary: #60d1a0; /* Soft Green */
  --secondary-foreground: #0e1629;

  --muted: #f1f5f9;
  --muted-foreground: #4c617f; /* Darker for better readaility (approx Slate 600) */

  --accent: #f1f5f9;
  --accent-foreground: #0e1629;

  --destructive: #ee4444;
  --destructive-foreground: #f7f9fb;

  --border: #ccd7e4; /* Darker border */
  --input: #ccd7e4;
  --ring: #2362ea;

  --radius: 0.75rem;
}

.dark {
  --background: #080c16; /* Deep dark blue-grey */
  --foreground: #f7f9fb;

  --card: #0d1425; /* Slightly lighter card */
  --card-foreground: #f7f9fb;

  --popover: #0d1425;
  --popover-foreground: #f7f9fb;

  --primary: #3c83f5;
  --primary-foreground: #0e1629;

  --secondary: #4dcb94;
  --secondary-foreground: #0e1629;

  --muted: #1e2a3d;
  --muted-foreground: #afbccf; /* Lighter for better readability */

  --accent: #1e2a3d;
  --accent-foreground: #f7f9fb;

  --destructive: #801d1d;
  --destructive-foreground: #f7f9fb;

  --border: #2a3a54; /* Lighter border */
  --input: #2a3a54;
  --ring: #1d4ed7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono), monospace;
}

/* Global interactive elements */
button, [role="button"], select {
  cursor: pointer;
}

button:disabled, [role="button"][aria-disabled="true"], select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
